__pycache__
.idea/
dataset/images/
dataset/cropped_images/800/d1_*
dataset/cropped_images/800/d2_*
dataset/cropped_images/800/temp/
models/*/preds/
dataset/boards/
removed_for_renaming/
dataset/visualizations/
dataset/hough_*/
*.zip